<%-include("header")-%>      
<div class="box">
    <h1 id="heading"><%=title%></h1>
    <% for(let i=0;i<newlistitem.length;i++){ %>
       <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%=newlistitem[i]._id%>" onchange="this.form.submit()">
            <p><%=newlistitem[i].name%></p>
        </div>
        <input type="hidden" name="listName" value="<%=title%>"></input>
       </form>
      
        <%  } %>
        
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="sumbit" name="button" value="<%=title%>">&#43</button>
        </form>
    </div>
        
</body>
<%-include("footer")-%>      
